.actBorder{
    stroke: #006090;
    stroke-dasharray: 1800;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1rem;
    fill: none;
    animation:1s linear 0s 1 normal forwards generalBorders; 
}

@keyframes generalBorders {
    0%{stroke-dashoffset: 1800;}
    100%{stroke-dashoffset: 0;}
}

.actBorderRev {
    stroke: #006090;
    stroke-dasharray: 1800;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1rem;
    fill: none;
    animation: 1s linear 0s 1 reverse forwards generalBordersRev;
}

@keyframes generalBordersRev {
    0%{stroke-dashoffset: 1800; }
    100%{stroke-dashoffset: 0;}
}
