
/*
.box {
    animation: bounce 2s ease-out 3s 1 forwards; */
/* animation-name: bounce;
 animation-delay: 3s;
 animation-duration: 2s; /* or: Xms */
 /*animation-direction: alternate; /* or: normal */
 /*animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 /*animation-fill-mode: forwards; /* or: backwards, both, none */
/*}

.boxRev {
transition-delay: 0;
}

@keyframes bounce {
0% {transform:scale(0);}
100%{transform: scale(1);}
}

.modalBack {
    animation: modalBackground 3s ease-out 0s 1 forwards;*/
    /*animation: bounce1 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;*/
   /* animation-name: modalBackground;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-fill-mode: forwards;*/
/*}

.modalBackRev {
    animation: modalBackgroundRev 3s ease-out 0s 1 forwards;*/
    /*animation: bounce1 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;*/
    /*animation-name: modalBackgroundRev;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}*/
/*
@keyframes modalBackground {
0% {transform:scaleY(0) scaleX(0);}
25% {transform:scaleY(.01) scaleX(0);}
50% {transform:scaleY(.01) scaleX(1);}
100% {transform:scaleY(1) scaleX(1);}
}

@keyframes modalBackgroundRev {
0% {transform:scaleY(1) scaleX(1);}
50% {transform:scaleY(.01) scaleX(1);}
75% {transform:scaleY(.01) scaleX(0);}
100% {transform:scaleY(0) scaleX(0);}
}
*/
.templehide {
    animation-name: templeClear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes templeClear {
    0%{height:0;}
    50%{height:100%;}
    60%{height:100%;}
    100%{height:0;}
}

.stest {
    width: 240px;
    height: 240px;
}

.actBorder{
   /* animation: test1 3s ease-in 0s 5 forwards;*/
  /*  animation-name: test1;*/
  
  /*stroke: #9330B4;*/
  stroke: rgb(48, 180, 77);
  stroke-width: 1rem;
  stroke-dasharray: 1800;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation-name: generalBorders;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes generalBorders {
    0%{stroke-dashoffset: 1800; }
    100%{stroke-dashoffset: 0;}
}

.actBorderRev {
  stroke: rgb(48, 180, 77);
  stroke-width: 1rem;
  stroke-dasharray: 1800;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation-name: generalBordersRev;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode:  forwards;
  animation-direction: reverse;
  animation-delay: 0s;
}

@keyframes generalBordersRev {
    0%{stroke-dashoffset: 1800; }
    100%{stroke-dashoffset: 0;}
}

.header-img{
    background-size: 100% 100%;
    height: 55rem;
}

#header-span {
    transition-duration: 1.5s;
}

.header-span {
    background-color: rgba(0,0,0,0);
}

#title-header{
    text-shadow: .35rem .35rem .15rem #010203;
    text-shadow: .35rem .35rem .15rem #0080C0;
    text-shadow: .35rem .35rem .15rem #c04000;
    font-weight: 700;
    font-size: 3.5rem;
    /*color: #40C4F0;*/
    color: #fff;

}   

.header-title-div {
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px #010203;
    box-shadow: .25rem .25rem .25rem .01rem rgba(0, 0, 0, 0.8);*/
}

.header-title-div-fade {
    background-color: rgba(0, 0, 0, 1);
}