@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&display=swap');
/*--------------------- default color  ---------------------*/
body {
    background-color: #010203;
}
/*--------------------- Nav bar---------------------*/
.nav-bump {/* pushes next element down so it does not start under navbar*/
    height:4rem;
    background-color: #010203;
}

.custom-nav-logo {  /* for 'selected' look */
    font-weight: 700;
    background: linear-gradient( #E7F8FD, #48FF96 30%, #E7F8FD 55%, #48FF96 75%, #E7F8FD );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.custom-nav {
    font-family: "Libre Baskerville", sans-serif;
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.75);
    position:fixed;
    z-index: 4;
    border-bottom: #48FF96 2px solid;
    text-align: center;
}

.custom-nav a:visited,
.custom-nav a:link,
.search-button i {
    color: #fff;
}

.custom-nav form,
.custom-nav li {
    padding: 1rem;
    padding-right: 3%;
    transition-duration: 1s;
}

.custom-nav li:hover {
    transform: scale(1.1);
}

.custom-nav a:hover {
    text-decoration: none;
}

/* nav search bar */
.search-size,
.search-button i { /* positions search middle of nav bar*/
    bottom:.25rem;
    position: relative;
}

.search-button,
.search-button input {  /* removes box and borders of search botton, leaving only an image */
    background:transparent;
    border: none;
    padding: 0;
}

/*------------Header title and images for index--------------*/
.header-img {
   /* transition: all .25s;*/
    position: relative;
    width: 100%;
    height: 20rem;
}

/*header overlay*/ /* used with burn shadow */
.header-span,
.dice-border span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
/*header title */
.header-title-general,
.header-title {  /*---------------------  bad target  refactor to  header-title-div  this is a text item!!---------------------*/
    position: relative;
    text-align: center;
    top: 10rem;
    font-family: "Lobster", sans-serif;
    z-index: 1;
}

.header-title-general h1,
.header-title h1 {
    font-size: 3rem;
    background:  url("../img/index/plank-grain.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 0px rgba(0, 0, 0, 0.25);
}

.header-title-general h1 { /* replaces original Title header index uses with a color gradient */
    font-size: 5rem;
    background: linear-gradient( #E7F8FD, #9394E8 30%, #E7F8FD 55%, #9394E8 75%, #E7F8FD );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px 0px rgba(0,0,0,0);
}

@media (min-width: 576px) {
    .header-title-general h1,
    .header-title h1 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {
    .header-title-general h1, 
    .header-title h1 {
        font-size: 4.75rem;
    }
}

@media (min-width: 1200px) {
    .header-title-general h1, 
    .header-title h1 {
        font-size: 5rem;
    }
}

.header-title-general h1:after,
.header-title h1:after { /* centers and creates depth shadow*/
    background: none;
    content: attr(data-text);
    left: 0;
    right: 0;
    position: absolute;
    text-shadow:
        0px -2px  rgba(0,0,0,.75),
        -1px 0px rgba(0, 0, 0, 0.5),
        0px 1px rgba(155, 106, 16, 0.568);
    z-index:-1;
}
/*------------index background and spacer*/
.index-background {
    position: absolute;
    background-image: url("../img/index/brick-background.jpg");
    width: 100%;
    z-index: -2;
}

.spacer {
    height: 5rem;
    width: 100%;
    position: relative;
}

/*----------------3d doors----------------*/
@media (max-width: 767.98px) {  /* allows doors to switch from double to single*/
    .door-left-remove {
        display: none;
    }
    .single-door-move {
        right:12%;
    }
}

.doors { /* float doors over footer text  */
    z-index: 1;
}

.hall-image{
    position: absolute;
    background-image: url("../img/index/tavern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    top: 1%;
    height: 35rem;
    width: 40%;
    box-shadow: 
        -10px -10px 4px rgba(0,0,0,.75),  
        10px 10px 4px rgba(0,0,0,.75);
}

@media (max-width: 991.98px) {
    .hall-image {
        background-size: cover;
        box-shadow: 
        -10px -10px 4px #012003,  
        10px -10px 4px #010203,
        10px 10px 4px #010203;
    }
}

.hall-image-hover {
    position: absolute;
    height: 35rem;
    width: 40%;
    z-index: 3;
}

.door-box {
    width: 50%!important;
}

/*----------------outer layer*/
.outer-door-box {
    width: 320px;
    height: 36rem;
    perspective: 1000px;
    transition-duration: 3s;
    z-index: 0;
}

/*-------------------middle layer*/
.door-open {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition-duration: 3s;
}

.door-open-left {
    transition-delay: .35s;
}

.door-open-right {
    transition-delay: 0s;
}

/*-------------------door move animation*/

/*----------------------------------previously used but targeting area couldnt be refined becasue appropiate target was NOT a child element of target*/
.door-right-open {/* js linked*/
    transform: rotateY(-120deg) scale(1);
    transition-delay: .25s;
}

.door-left-open {/*  js linked */
    transform: rotateY(120deg) scale(1);
    transition-delay: 0s;
}

/*-----------------------inner layer*/
.door {
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
}

.door-img{
    background-image: url("../img/index/door-face.jpg");
    background-size: 100% 100%;
}

.door-left {
    transform: scaleX(-1);
}

.back {
    transform: translateZ(-2rem) rotateY(180deg) scaleX(-1);
}

.back-left {
    transform: translateZ(-2rem) rotateY(180deg);  
}

/* y==true(rotates it onto side into place)  ;x==false(acts as a Z)  ;z==false (acts as x)  */

.side-right,
.side-left {/*rgb(129, 88, 22)*/
    background-image: url("../img/index/door-side.jpg");
    width: 2rem;
}

.side-left {
    transform: rotateY(-90deg) translateX(-50%) translateZ(.8rem);
}

.side-right {
    transform: rotateY(90deg) translateX(50%) translateZ(.8rem);
}

/*footer*/
footer {
    border-top: solid 2px #48FF96;
    text-align: center;
    color: #fff;
    background-color: #010203;
    background: linear-gradient( 45deg, #010203, #831d1d );
    font-family: "Comfortaa", sans-serif;
    padding-bottom: 3rem;
       /* font-size: 2.5rem;*/
    font: 1rem "Comfortaa", sans-serif;
    z-index: -3;
}

.icons p {
    margin-top: 1rem;
    padding: 1rem;
    text-shadow: .2rem .2rem .1rem #010203;
}

.icon-creator img {
    border-radius: 50%;
}

.icons a {
    text-decoration: none;
    padding: 1rem;
}

.icons a img {
    max-height: 100px;
}
/*-------------------------------------- general tab ------------------------------*/
/* filter to cover screne between transitions */
.general-cover { 
    width: 100%;
    height: 0px;
    position: absolute;
    background-color: rgba(0,0,0,1);
    z-index: 3;
    transition-duration: 1.5s;
    top: 4rem;
}

.general-display-none {
    display: none;
}
/*------------------------------temple general box hover effect--------------------------------*/


#temple-main {
    position: relative;
}

#temple-body { /*  used to replace card-background background color*/
    top: 20rem;         /*---------positions general tabs----------*/
}

#temple-body,
.temple-span {
    background-color: transparent;
    position: absolute;
    z-index: 2;
}

.temple-span{
    width:100%;
}

.temple-span,
.temple-cats {
    height: 5rem;
    border-radius: 25%;
    transition-duration: 1.5s;
}

.temple-cats {
    fill: none;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: static;
    margin: 1rem;
    /*color: #D25F38;*/
    color: #fff;
    font: 1.5rem "comfortaa", sans-serif;
}

.temple-cats rect,
.temple-cats svg {
    width:100%;
    height:100%;
} 

.temple-cats p {
    position: relative;
    bottom: 3.5rem;
    text-shadow: .1rem .1rem .01rem #010203;
    font-weight: 700;

}

.temple-cats:hover {
    background-color: rgba(0,0,0,.75);
    color: #87BA76;
    color: #9394E8;
    color: #BCBCF1;
}
/*-------------------------------------temple box hover effects end --------------*/
.general-tab {
    font: 2rem "Amatic SC", sans-serif;
    position: absolute;
    z-index: 2;
    text-shadow: .2rem .2rem .02rem #010203;
    height: 55rem; /* tab HEIGHT!! NEEDS TO BE STANDARD   */
    text-align: center;
    top: 4rem;
}

.general-tab h1 {
    font: 5rem "Dancing Script", sans-serif;
    color: #fff;
    bottom:2rem;
    position:relative;
    margin-top: 3rem;
    text-shadow: .25rem .25rem .15rem #717067;
}

.general-tab ul {
    margin-top: 5rem;
    padding: 3rem 0rem;
}

.form-filter,
.general-tab li {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: .1rem .1rem #010203;
    font-weight:700;
}

.back-button {
    text-align: center;
    height: 100%;
}

.back-button {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    height: 3.75rem;
    color: #fff;
    width:5%;
    border: solid 2px #fff;
    margin: 5.5rem .25rem .25rem .25rem;
    transition-duration: .5s;
}

.edit-button:visited {
    color: #fff;
}

.edit-button {
    margin:0!important; /*  margin in general tab ul problem*/
    position: absolute;
    color: #fff;
    width:5%;
    transition-duration: .5s;
    list-style-type: none;

}

.edit-button li {
    background-color: rgba(0,0,0,.5);
    border: solid 2px #fff;
    transition-duration: .5s;
    border-radius: 25%;
    height: 3.75rem;


}

.back-button {
    left: 1rem;
    border-radius: 25%;
}
.edit-button p,
.back-button p {
    padding-top: .375rem;
    margin: 0;
}
.edit-button li:hover,
.submit-button:hover,
.back-button:hover {
    color: rgba(254, 130, 2, .85);
    background-color: #010203;
    border: solid 2px rgba(254, 130, 2, .85);
    transform: scale(1.1);
}

.edit-button {
    left:90%;
}

/*--------------------------------------new sign in boxes----------------------------------*/
.form-tab {
    background-image: none;
}

.form-tab label,
.form-tab h1 {
    color: #010203;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    font-family: "Libre Baskerville", sans-serif;
}

.form-tab label {
    text-align: left;
    text-shadow: 0px 0px rgba(0, 0, 0, 0.0);
}

.form-tab select,
.form-tab textarea,
.form-tab input {
    background: transparent;
    font-weight: 700;
    border: solid 3px #010203;
}

.form-filter {
    background-color: rgba(0, 0, 0, 0.0);
}

.submit-button:hover {
    color: #fff;
    border: solid 2px #010203;
}

.form-height {
    margin-top: 5rem;
}

/*----------------------------------for flashed messages-------------------------*/

.flash {
    position: absolute;
    color: #FFF;
    text-align: center;
    background-color: rgba(0,0,0,.75);
    width: 100%;
    z-index: 3;
    top:11rem;
}

/*----------------------------------for flashed messages-------------------------*/
/*----------------------------------for reworked index and about us page-------------------------*/
.landing-tab {
    font: 2rem "Comfortaa", sans-serif;
    /*text-shadow: .2rem .2rem .02rem #010203;*/
    text-align: center;
    color: #d6d1a6;
    text-shadow: 2px 2px 4px rgba(0,0,0,.75);
    position: relative;
}

.landing-tab h1 {
    font-size: 4rem;
}

.landing-tab h1,
.landing-tab h2 {
    margin: 1rem;
}

.landing-tab-bump h1 {
    margin-top: 3rem;
}

.landing-tab p {
    padding: 0rem 2rem 2rem 2rem;
    color:  #87BA76;
    font-size: 1.5rem;
}

.landing-tab-bumb {
    margin-top: 2rem;
}

.about-us-img {
    background-image: url("../img/hallow_herd/hallow_world.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-us-img p {
    color: #48FF96;
    text-shadow: 1px 1px 3px #010203;
    z-index: 3;
}

.about-us-img h2,
.about-us-img h1 {
    color: #FF9648;
}

.about-us-img-fil {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.about-world-img,
.about-campaign-img,
.about-wotc-img {
    margin-top: 3rem;
    height: 10rem;
    z-index: 0;
    background-size: 100% 100%;
    border-radius: 25%;
    box-shadow: 3px 3px 2px rgba(0,0,0,.75);

}

hr {
    width: 50%;
    border: #9648FF 1px solid;
}

/*--------------------------------profile page----------------------------------*/

.profile-sub-categories,
.profile-categories {
    fill: none;
    z-index: 0;
    text-align: center;
    /*color: #D25F38;*/
    color: #010203;
    font: 1.5rem "Dancing Script", sans-serif;
}

.profile-categories p {
    text-shadow: 1px 0px #474747;

}

.profile-background {
    width: 100%;
    text-align: center;
}

.profile-choices {
    bottom: 4rem;
}

.profile-choices-sub {
}

.make-invis {
    display: none;
}

/*----------------------found on animation css page ---------------------*/
/*----------------------entering testing area---------------------*/


.header-img-book{
    height: 35rem;
}

#header-span {
    transition-duration: 1.5s;
}

.header-span {
    background-color: rgba(0,0,0,0);
}

/*#title-header{
    text-shadow: .35rem .35rem .15rem #903000;
    font-weight: 700;
    font-size: 3.5rem;
    color: #fff;
}   

.header-title-div {
    text-align: center;
}*/

.header-title-div-fade {
    background-color: rgba(0, 0, 0, 1);
}
/*
.index-img {
    position:absolute;
    background-image: url("../img/index1.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/

.profile-image-size {
    height:55rem;
    width:100%;
    transform: skewY(0deg) skewX(0deg) rotate(0deg)!important;
}

.profile-test {
    font-family: "Lobster", sans-serif;
}

.profile-test li {
    list-style-type: none;
}

.profile-test input {
    border:none;
    background-color: transparent;
}

.parch-test {
    transform:scale(1)!important;
    top:4.5rem!important;
    position: absolute!important;
    text-align:center!important;
    transition-duration: 0s!important;
}

.parch-test p
.parch-test input {
    font-size: 2rem;
}

.parch-test ul {
    list-style-type: none;
}

.form-mod input {
    background-color:transparent;
}

.form-idea {
    text-align:center;
    width:60%;
}

.form-edit {
    text-align: right;
    width: 40%;
}

.form-name {
    text-align: left;
    vertical-align: bottom; 

}

.form-test123,
.form-test132 li {
    width: 100%;
}

.form-textarea {
    width:100%;
}