@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


body {
    background-color: #474747;
}

/* Nav bar*/
.custom-nav {
    width: 100%;
    background-color: #010203;

}

.custom-nav li {
    position: relative;
    color: #fff;
    font-family: "Libre Baskerville", sans-serif;
    padding: 1.5rem;
}

/*Header title and image*/
.header-img {
    z-index: -2;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 80vh;
    background-image: url("../img/header.jpg");
}

.header-img span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.header-title {
    color: #fff;
    position: relative;
    text-align: center;
    top: 40vh;
    font-family: "Lobster", sans-serif;
}

/* border for bottom of header*/
.dice-border {
    z-index: -2;
    height: 40px;
    background-image: linear-gradient(#b07917, #8e5e09, #805f25, #5d3d06);
    background-color: rgba(0, 0, 0, 0.25);
}

.dice-border span {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,.5);
}


/*modal*/


.modal-cover {
    position: fixed;
    z-index: -2;
    height:100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    transform: scale(0);
}

.parch {
    text-align: center;
    height:90vh;
    width: 90vh;
    background-image: url("../img/parchment.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    opacity: 0;
    transform: scale(0);
    transition-delay: 3s;
    transition-duration: 3s;
    font-family: "Dancing Script", sans-serif;
    margin: 1rem;
    animation-name: "test";
}
.parch p, 
.parch button {
    color: black;
    z-index: 2;
    position:relative;
    top: 2.5rem;
    font-size: 2.5rem;
    padding-left: 3rem;
    padding-right:3rem;
}


.parch button {
    border: none;
    background-image: none;
    background-color: none;
}


.parchdis {
    z-index: 2;
    opacity:1;
}


/*3d cards*/
/*outer layer*/
#steve {
    text-align: center;
    height: 100%;
    width: 100%;
}

.outer {
    background-color: transparent;
    width: 320px;
    height: 36rem;
    perspective: 1000px;
}

.outer:hover .card-spin {
    transform: rotateY(180deg);
}

/*middle layer*/
.card-spin {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition-duration: 3s;
    border: solid 5px #838283;
    border-radius: 5%;
    background-color: #dad8c8;
    color: #010203;
    box-shadow: .5rem .5rem .25rem .5rem rgba(0, 0, 0, 0.25);
}

.card-spin div p {

}

/*inner layer*/
.guild-card {

    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.guild-card p {
    padding-left: .25rem;
    padding-right: .25rem;
}
/*
.guild-card p {

    position: relative;
    top: 20rem;
} */

.card-sub-text {
    z-index: -2;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

/*selectable images for different guilds*/

.choose-guild {
    text-align: center;
    color: #d6d1a6;
    font-family: "Amatic SC", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
}


.guild-space {
    margin: 2rem;
}

.war-img,
.steve-img,
.steve-img2,
.tomb-img{
    background-position: center, center;
   /* height: 35.5rem;*/
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
}

.war-img {
    background-image: url("../img/axiom/hallow_herd.jpg");
}

.steve-img {
    background-image: url("../img/steve/church.jpg");
}

.tomb-img {
    background-image: url("../img/ToA/ToA_header.jpg");
}

.bottom-img-text {
    top: 20rem;
}

/*footer*/
footer {
    text-align: center;
    color: #fff;
    background-color: #010203;
    font-family: "Comfortaa", sans-serif;
    padding-bottom: 3rem;
}

.icons p {
    padding: 1rem;
}

.icon-creator img {
    border-radius: 50%
}

.icons a {
    font-size: 2.5rem;
    text-decoration: none;
    padding: 1rem;
}

.icons a img {
    max-height: 100px;
}