@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/*--------------------- default color  ---------------------*/
body {
    /*background-color: #010203;*/
    /*background-color: #474747;*/
    /*background-color: #a5a5a5;*/
    background-color: #474747;
}

/*--------------------- Nav bar---------------------*/
.nav-bump {
    height:3.5rem;
    background-color: #010203;
}

.custom-nav-logo {
    font-weight: 700;
    background: linear-gradient( #E7F8FD, #48FF96 30%, #E7F8FD 55%, #48FF96 75%, #E7F8FD );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.custom-nav {
    font-family: "Libre Baskerville", sans-serif;
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.75);
    position:fixed;
    z-index: 3;
    border-bottom: #48FF96 2px solid;
}

nav {
    text-align: center;    
}

.custom-nav a:visited,
.custom-nav a:link {
    color: #fff;
}

.custom-nav form,
.custom-nav li {
    padding: 1rem;
    padding-right: 3%;
    transition-duration: 1s;
}

.custom-nav li:hover {
    transform: scale(1.1);
                    /*----------------------------------------add text shadow!!*/
}

.custom-nav a:hover {
    text-decoration: none;
}

.search-size,
.search-button i {
    bottom:.25rem;
    position: relative;
}

.search-button,
.search-button input {
    background:transparent;
    border: none;
    padding: 0;
}
.search-button i {
    color: #fff;
    font-size: 1rem;
}

/*------------Header title and images--------------*/
.header-img {
    transition: all .25s;
    position: relative;
    background: top center/cover no-repeat;
    width: 100%;
    height: 55rem;
}

.index-header-img {
    background-image: url("../img/header.jpg");
}

.hallow-header-img {
    background-image: url("../img/hallow_herd/hallow_banner.jpg");
}

.steve-header-img {
    /*background-image: url("../img/steve/temple_card.jpg");*/
    background-image: url("../img/steve/enter.jpg");
    background-position: top center;
    background-size: cover;
}

.tomb-header-img {
    background-image: url("../img/tomb/toa_card.jpg");
}
/*header overlay*/
.header-span,
.dice-border span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
/*header title */
.header-title {  /*---------------------  bad target  refactor to  header-title-div  this is a text item!!---------------------*/
    position: relative;
    text-align: center;
    top: 14rem;
    font-family: "Lobster", sans-serif;
}
.header-title h1 {
    font-size: 5rem;
    background: linear-gradient( #E7F8FD, #48FF96 30%, #E7F8FD 55%, #48FF96 75%, #E7F8FD );
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
/*bottom border for header*/
.dice-border {
    height: 2.5rem;
    background: url("../img/wood-grain-1.jpg") top left/cover no-repeat;
    box-shadow: -1rem -1rem 1rem .75rem rgba(0,0,0,.5);
    z-index: 0;
}
/*bottom border overlay for header*/
.dice-border span {
    height: 2.5rem;
}
/*-----------------modal------------------*/
/*modal overlay*/
.modal-cover,
.parch {
    position:fixed;
    z-index: 2;  /*        -----------------altered-----------------*/
    transform: scale(0);
}

.modal-cover {
    height:100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
}

.parch {
    text-align: left;
    height:90vh;
    background: url("../img/parchment.png") center/100% 100% no-repeat;
    transition-duration: 3s;
    font: 2.5rem "Dancing Script", sans-serif;
    margin: 1rem;
    top: 2rem;

}

.parch p {
    color: black;
    z-index: 2;
    position: relative;
    top: 2.5rem;
    padding: 2rem 4rem 2rem 4.5rem;
}
/*----------------------modal animations implemented from JS-----------------------*/
.cardOpen {/*----- used in js -----*/
    transform: scale(1);
    z-index: 2; /*        -----------------altered-----------------*/
}

.modalBack {/*----- used in js -----*/
    animation: modalBackground 3s ease-out 0s 1 forwards;
    z-index: 2; /*        -----------------altered-----------------*/
}

.modalBackRev {/*----- used in js -----*/
    animation: modalBackgroundRev 3s ease-out 0s 1 forwards;
    z-index: 2; /*        -----------------altered-----------------*/
}

@keyframes modalBackground {
0% {transform:scaleY(0) scaleX(0);}
25% {transform:scaleY(.01) scaleX(0);}
50% {transform:scaleY(.01) scaleX(1);}
100% {transform:scaleY(1) scaleX(1);}
}

@keyframes modalBackgroundRev {
0% {transform:scaleY(1) scaleX(1);}
50% {transform:scaleY(.01) scaleX(1);}
75% {transform:scaleY(.01) scaleX(0);}
100% {transform:scaleY(0) scaleX(0);}
}
/*----------------3d cards----------------*/
.card-background {
    /*background-color: #2c2c2c;*/
    /*background-color:#474747; */
    text-shadow: 3px 3px rgba(0,0,0,.75);
    background-color: #a5a5a5;
}

.coverCards {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: -3;
}

.coverCardsAct {/*----- used in js to over write .coverCards-----*/
    z-index: 2;
}

.guild-space {
    margin: 1rem;
    text-align: center;
    color: #d6d1a6;
    font: 600 2.5rem "Amatic SC", sans-serif;
}
/*outer layer*/
.outer {
    background-color: transparent;
    width: 320px;
    height: 36rem;
    perspective: 1000px;
    z-index: 1;
}

.outer:hover .card-spin {
    transform: rotateY(180deg);
}
/*middle layer*/
.card-spin {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition-duration: 3s;
    border:solid 5px #dad8c8;
    border-radius: 5%;
    background-color: #dad8c8;
    color: #dad8c8;
    box-shadow: .5rem .5rem .25rem .5rem rgba(0, 0, 0, 0.25);
    
}
/*inner layer*/
.guild-card {
    position: absolute;
    height: 100%;
}

.guild-card h1,
.guild-card p {
    padding: 1rem .5rem 0 .5rem;
    color: #010203;
    font-weight: 700;
}

.card-sub-text p {
    z-index: -3;
   /* text-shadow: .15rem .15rem .1rem #8A8A84;*/
   font-weight: 700;
}

.back {
    transform: rotateY(180deg);
    text-shadow: 0 0 rgba(0, 0, 0, 0.0);

}
/*images and presets*/
.face {
    background: center center/cover no-repeat;
    border-radius: 5%;
    backface-visibility: hidden;

}

.war-img {
    background-image: url("../img/hallow_herd/hallow_banner.jpg");
    background-position: top, center;
}

.steve-img {
    background-image: url("../img/steve/enter.jpg");
    background-position: center;
}

.tomb-img {
    background-image: url("../img/tomb/toa_card.jpg");
}

.log-img{
    background-image: url("../img/com-notbook.jpg");
    background-size: 100% 100%;
}

/*footer*/
footer {
    text-align: center;
    color: #fff;
    background-color: #010203;
    background: linear-gradient( 45deg, #010203, #831d1d );
    font-family: "Comfortaa", sans-serif;
    padding-bottom: 3rem;
       /* font-size: 2.5rem;*/
    font: 1rem "Comfortaa", sans-serif;
}

.icons p {
    margin-top: 1rem;
    padding: 1rem;
    text-shadow: .2rem .2rem .1rem #010203;
}

.icon-creator img {
    border-radius: 50%;
}

.icons a {
    text-decoration: none;
    padding: 1rem;
}

.icons a img {
    max-height: 100px;
}
/*--------------------------------------temple of steve general tab------------------------------*/
.general-cover {
    width: 100%;
    height: 0px;
    position: absolute;
    background-color: rgba(0,0,0,1);
    z-index: 3;
    transition-duration: 1.5s;
}

.general-display-none {
    display: none;
}
/*------------------------------temple general box hover effect--------------------------------*/
#temple-main {
    position: relative;
}

#temple-body { /*  used to replace card-background background color*/
    top: 20rem;         /*---------positions general tabs----------*/
}

#temple-body,
.temple-span {
    background-color: transparent;
    position: absolute;
    z-index: 2;
}

.temple-span,
.temple-cats {
    width: 15rem;
    height: 5rem;
    border-radius: 25%;
    transition-duration: 1.5s;
}

.temple-cats {
    fill: none;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: static;
    margin: 3rem;
    /*color: #D25F38;*/
    color: #fff;
    font: 1.5rem "comfortaa", sans-serif;
}

.temple-cats rect,
.temple-cats svg {
    width:100%;
    height:100%;
} 

.temple-cats p {
    position: relative;
    bottom: 3.5rem;
    text-shadow: .1rem .1rem .01rem #010203;
    font-weight: 700;
}

.temple-cats:hover {
    background-color: rgba(0,0,0,.75);
    color: #87BA76;
}
/*-------------------------------------temple box hover effects end --------------*/
.general-tab {
    font: 2rem "Amatic SC", sans-serif;
    position: absolute;
    z-index: 2;
    text-shadow: .2rem .2rem .02rem #010203;
    height: 60rem;
    text-align: center;
}

.general-tab h1 {
    font: 5rem "Dancing Script", sans-serif;
    color: #fff;
    top:1rem;
    position:relative;
    margin-top: 3rem;
    text-shadow: .25rem .25rem .15rem #717067;
}

.general-tab ul {
    margin-top: 5rem;
    padding: 3rem 0rem;
}

.form-filter,
.general-tab li {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: .1rem .1rem #010203;
    font-weight:700;
}

.back-button {
    text-align: center;
    height: 100%;
}

.back-button {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    left:1rem;
    height: 3.75rem;
    color: #fff;
    width:5%;
    border: solid 2px #fff;
}

.back-button {
    margin: 5.5rem .25rem .25rem .25rem;
    transition-duration: .5s;
}

.back-button {
    border-radius: 25%;
}

.back-button p {
    padding-top: .375rem;
    margin: 0;
}

.submit-button:hover,
.back-button:hover {
    color: rgba(254, 130, 2, .85);
    background-color: #010203;
    border: solid 2px rgba(254, 130, 2, .85);
    transform: scale(1.1);
}
/* --------------------------------submission form-----------------------------------*/
.general-tab {
    /*background: url("../img/steve/confession.png") top center/cover no-repeat;*/
    min-height: 45rem;
    max-height:55rem;  /*----------------------------does conflict with wood grain border without this------------*/
    transition-duration: 1.5s;
}


.general-tab-background-1 {/*tenets*/
background-image: url("../img/steve/tenets.jpg"); 
}

.general-tab-background-2 {/*alignment*/
    background-image: url("../img/steve/alignment.jpg"); 
    background-position: center center;   
}
.general-tab-background-3 {/*insults*/
    background-image: url("../img/steve/burn.jpg");   
    background-position: center center
}
.general-tab-background-4 {/*propaganda*/
    background-image: url("../img/steve/propaganda.jpg"); 
    background-size: 100% 100%;
}
.general-tab-background-5 {/*members*/
    background-image: url("../img/steve/members.jpg");    
    background-position: center center;
}
.general-tab-background-6 {/*accomplishments*/
    background-image: url("../img/steve/organ.jpg");
    background-position: top center;
}
.general-tab-background-7 {/*submission form*/
        background: url("../img/steve/confession.png") top center/cover no-repeat;
}

.form-filter {
    margin-top: 1.5rem;
}

.input-line {
    padding-top:.75rem;
    padding-bottom: 0.75rem;
}

.input-line label {
    position: right;
   /* width:30%;*/
    vertical-align: top;
    left: -15rem;
    text-align: right;
}

.input-line textarea,
.input-line select,
.input-line input {
    width: 60%;
}

.submit-button {
    margin-bottom: 1rem;
    transition-duration: 1.5s;
}

/*--------------------------------------new sign in boxes----------------------------------*/
.form-tab {
    background-image: none;
}

.form-tab label,
.form-tab h1 {
    color: #010203;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    font-family: "Libre Baskerville", sans-serif;
}

.form-tab label {
    text-align: left;
    text-shadow: 0px 0px rgba(0, 0, 0, 0.0);
}

.form-tab select,
.form-tab textarea,
.form-tab input {
    background: transparent;
    font-weight: 700;
    border: solid 3px #010203;
}

.form-filter {
    background-color: rgba(0, 0, 0, 0.0);
}

.submit-button:hover {
    color: #fff;
    border: solid 2px #010203;
}

.form-height {
    margin-top: 5rem;
}

/*----------------------------------for flashed messages-------------------------*/

.flash {
    position: absolute;
    color: #FFF;
    text-align: center;
    background-color: rgba(0,0,0,.75);
    width: 100%;
    z-index: 3;
    top:11rem;
}

/*----------------------------------for flashed messages-------------------------*/
/*----------------------------------for reworked indexpage-------------------------*/
.landing-tab {
    font: 2rem "Comfortaa", sans-serif;
    /*text-shadow: .2rem .2rem .02rem #010203;*/
    text-align: center;
    color: #d6d1a6;
    text-shadow: 3px 3px rgba(0,0,0,.75);
    position: relative;
}

.landing-tab h1 {
    font-size: 4rem;
}


.landing-tab h1,
.landing-tab h2 {
    margin: 1rem;
}

.landing-tab-bump h1 {
    margin-top: 3rem;
}

.landing-tab p {
    padding: 0rem 2rem 2rem 2rem;
    color:  #87BA76;
    font-size: 1.5rem;
}

.landing-tab-bumb {
    margin-top: 2rem;
}

.test-img {
    background-image: url("../img/hallow_herd/hallow_world.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.test-img p {
    color: #48FF96;
    text-shadow: 3px 3px #010203;
    z-index: 3;
}

.test-img h2,
.test-img h1 {
    color: #FF9648;
}

.test-img-fil {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
}

.about-world-img,
.about-campaign-img,
.about-wotc-img {
    margin-top: 3rem;
    height: 10rem;
    z-index: 0;
    background-size: 100% 100%;
    border-radius: 25%;
    box-shadow: 3px 3px 2px rgba(0,0,0,.75);

}

.about-world-img {
    background-image: url("../img/paw.png");
}
.about-campaign-img {
    background-image: url("../img/about_campaign.jpg");

}
.about-wotc-img {
    background-image: url("../img/about_wotc.jpg");

}

hr {
    width: 50%;
    border: #9648FF 1px solid;
}

/*--------------------------------profile page----------------------------------*/

.profile-sub-categories,
.profile-categories {
    fill: none;
    z-index: 0;
    text-align: center;
    position: static;
    margin: 3rem;
    /*color: #D25F38;*/
    color: #010203;
    font: 3rem "Dancing Script", sans-serif;
    width: 100%;
}

.profile-categories p {
    text-shadow: 3px 3px #87BA76;

}

.profile-background {
    width: 100%;
    text-align: center;
}

.profile-choices {
    bottom: 4rem;
}

/*----------------------found on animation css page ---------------------*/


.header-img-book{
    height: 35rem;
}

#header-span {
    transition-duration: 1.5s;
}

.header-span {
    background-color: rgba(0,0,0,0);
}

/*#title-header{
    text-shadow: .35rem .35rem .15rem #903000;
    font-weight: 700;
    font-size: 3.5rem;
    color: #fff;
}   

.header-title-div {
    text-align: center;
}*/

.header-title-div-fade {
    background-color: rgba(0, 0, 0, 1);
}
/*
.index-img {
    position:absolute;
    background-image: url("../img/index1.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}