{% extends "base.html" %}

{% block section_content %}

    <!--Guild intro text-->
<section>
    <div class="row no-gutters">
        <div class="col-12 about-us-img">
            <div class="row no-gutters justify-content-center landing-tab">
                <span class="test-img-fil"></span>

        
                    <div class="col-10 landing-tab-bump">
                        <h1>
                            Welcome Friends & Family! 
                        </h1>
                        <hr>
                        <p>

                            This guild is being built for all those that enjoy the act of role play. From beginner to skilled, join our ranks and let us all benefit from your view point.
                            We expect everyone to be respectful and encouraging. We can roleplay and discuss evil but evil or hatful commits will not be tolerated on our forms. We can also discuss WOTC
                            content and how you the player and DM choose to roleplay it and bring it to life; however, please do not directly post source material. Due to legal reasons, that cannot be
                            allowed. 
                        </p>
                        <p>
                            We hope to have a good time and improve not only everyone that joins us, but ourselves as well. So, please join us on our journey to aspire to a greater level of immersion 
                            and skill through developing a caring and helpful community of like minded individuals. We will share our tricks and thoughts and hope you will do the same through our 
                            interactive forms. We are constructing a number of different guild tables that are devoted to various champaigns, settings, and ideas. Currently the Role Players Guild
                            has three major halls.  These halls are, World Building, Campaigns, and WOTC Campaigns where we focus on making our own worlds more vibrant and real. 

                        </p>
                    </div>

                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="row no-gutters justify-content-center">
                            <!--<div class="col-6 about-world-img"></div>-->
                            <div class="col-12">
                                <h2>World Building</h2>
                                <hr>
                                <p>
                                    Here we focus on building our auxiliary ideas. From alchemy to religion having these extras pulls our players in.  Have a module you
                                    cannot play without. Recommend it here! The devils in the details or maybe its just a toothy mimic. Tell us about it here!
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="row no-gutters justify-content-center">
                        <!--<div class="col-6 about-campaign-img"></div>-->
                            <div class="col-12">
                                <h2>Campaigns</h2>
                                <hr>
                                <p>
                                    Love it, hate it, a DM's personal build world is a tribute to their dedication to the game and their players.  Here we discuss
                                    how a DM brings their world to life. With a heavy focus on the elements that bring the experience from an idea to a enthralling
                                    experience
                                </p>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-12 col-xl-4">
                        <div class="row no-gutters justify-content-center">
                            <!--<div class="col-6 about-wotc-img"></div>-->
                            <div class="col-12">
                                <h2>WOTC Campaigns</h2>
                                <hr>
                                <p>
                                    All things cannon are discussed here. What experiences brought this official campaign to life for DM and players. Was there extra
                                    material a DM incorporated thats truly adds to the experience?  Maybe something they choose to omit or alter because of a mistake 
                                    or refusal to wipe the party. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


</section>
 
 {% endblock %}

{% block custom_script %}
    <script src="{{ url_for('static', filename='js/globalObjects.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/cardFlip.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/headerExtend.js') }}"></script> 

    <script>// updates nav bar 
    document.getElementsByClassName("nav-item")[1].classList.add("active");
    document.getElementsByClassName("nav-item")[1].firstElementChild.classList.add("custom-nav-logo");
    </script>

{% endblock %}