{% extends "base.html" %}

{% block tab_header_content_row %}
    <!--place filter here if needed--><!--<span class="full-size"></span>-->
    <nav>
        <a class="clean-anchor col-1 back-button" href="{{ url_for('openRoom', username=session['user'], roomName=session['place'][0]) }}">
            <p>back</p>
        </a>
    </nav>
    <section class="col-10 topic-tab form-tab">  
        <div class="row no-gutters justify-content-center">
            <div class="col-12">
                
                <div class="row no-gutters justify-content-center form-box form-filter">

                    <h1>What {{topic.title()}} commit are you going to privately confess to our forms?</h1>
                    <h1></h1>
                    
                    <div class="col-10">
                    <ul class="form-user-input">
                        <li>     
                            <form class="" action="{{ url_for('addtask', username=session['user'], room=session['place'][0] ,topic=topic ) }}" method="POST">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-10">
                                        <textarea class="form-textarea" name="addtask" id="addtask"></textarea>
                                        <input class="make-invis" name="room" id="room" value="{{session['place'][0]}}">
                                        <input class="make-invis" name="category" id="category" value="{{topic}}">
                                        <input class="make-invis" name="username" id="username" value="{{session['user']}}">
                                        <input class="make-invis" name="date" id="date" value="">
                                    </div>
                                    <div class="col-10">
                                        <input class="submit-button" type="submit">
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    </div>
                </div> 
            </div>
      
        </div>
    </section>
{% endblock %}

{% block custom_script %}
    <script>
        document.getElementsByClassName("nav-item")[3].classList.add("active");
        document.getElementsByClassName("nav-item")[3].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}