{% extends "base.html" %}

{% block independent_section_content %}
<section>
    <div class="row no-gutters justify-content-center">
        <div class="col-10 general-tab form-tab">              
            <div class="row no-gutters">
                    <div class="col-12">
                        <p>What insult are you going to add?</p>
                            <div class="col-1 back-button">
                                <a href="{{ url_for('openRoom', username=session['user'], room=session['place'][1]) }}">
                                    <span>Back</span>
                                </a>
                            </div>

                        <ul class="form-mod">
                            <li> 
                        
                                <form action="{{ url_for('addtask', username=session['user'], room=session['place'][1] ,topic=topic ) }}" method="POST">
                                    <div class="row no-gutters justify-content-center">
                                        <div class="col-10">
                                            <input  name="addtask" id="addtask">
                                            <input class="make-invis" name="room" id="room" value="{{session['place'][1]}}">
                                            <input class="make-invis" name="category" id="category" value="{{topic}}">
                                            <input class="make-invis" name="username" id="username" value="{{session['user']}}">
                                            <input class="make-invis" name="date" id="date" value="">
                                        </div>
                                        <div class="col-10">
                                            <input class="profile-choices-sub" type="submit">
                                        </div>
                                    </div>
                                </form>

                            </li>
                        </ul>
                    
                    </div>

                </div>

        </div>
    </div>
</section>
{% endblock %}

{% block custom_script %}
    <script>
        document.getElementsByClassName("nav-item")[3].classList.add("active");
        document.getElementsByClassName("nav-item")[3].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}