{% extends "base.html" %}

{% block modal %}

<!--background test-->
<div class="row no-gutters">
<div class="col-12 index-background" id="background-img">

</div></div>
<!--modal-->
<div class="row no-gutters justify-content-center">
    <div class="col-12 modal-cover" id="modal-cover"></div>     <!--Modal Filter-->
    <div class="col-12 col-md-10 parch parch-test" id="parch">              <!--Modal Body-->
        <p id="modal-text"></p>                                  <!--Modal Text-->

           <div class="row no-gutters">

                <div class="col-12">
                    <p>What insult are you going to add?</p>
                        <div class="col-1 back-button">
                        <a href="{{ url_for('openRoom', username=session['user'], room=session['place'][1]) }}">
                            <span>Back</span>
                        </a>
                        </div>

                    <ul class="form-mod">
                        <li> 
                    
                            <form action="{{ url_for('addtask', username=session['user'], room=session['place'][1] ,topic=topic ) }}" method="POST">
                                <div class="row no-gutters justify-content-center">
                                    <div class="col-10">
                                        <input  name="addtask" id="addtask">
                                        <input class="make-invis" name="room" id="room" value="{{session['place'][1]}}">
                                        <input class="make-invis" name="category" id="category" value="{{topic}}">
                                        <input class="make-invis" name="username" id="username" value="{{session['user']}}">
                                        <input class="make-invis" name="date" id="date" value="">
                                    </div>
                                    <div class="col-10">
                                        <input class="profile-choices-sub" type="submit">
                                    </div>
                                </div>
                            </form>

                        </li>
                    </ul>
                
                </div>

            </div>

    </div>
</div>
{% endblock %}



