<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.jpg') }}" type="image/gif">
    <!-- required style 3rd party for page -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css">
    <!-- custom style for page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">    
    {% block custom_link %}
    {% endblock %}

    <title>Role Players Guild</title>

</head>
<body>
        <!--modal-->
    <div class="row no-gutters justify-content-center">
        <div class="col-12 modal-cover" id="modal-cover"></div>     <!--Modal Filter-->
        <div class="col-11 col-md-6 parch" id="parch">              <!--Modal Body-->
            <p id="modal-text"></p>                                  <!--Modal Text-->
        </div>
    </div>



    <!--header and nav-->
    <header class="row no-gutters">
        <!--Nav Bar-->
        <nav class="custom-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" id="home">Home</a>
                </li>
                {% if session.user %}
                <li class="nav-item">
                    <a href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('temple') }}" id="temple-of-steve">Temple of Steve</a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('hallow') }}" id="war-of-the-hallow-herd">War of the Hallow Herd</a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('tomb') }}" id="tomb-of-annihilation">Tomb of Annihilation</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('signOut') }}">Sign Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('signIn') }}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <!--Header Bar-->
        <div class="col-12 header-img {{ header_img }}" id="header_main">       <!--Header Image-->
            <div class="row no-gutters">                                    
                <span class="header-span" id="header-span">                     <!--Header Image Filter-->
                    <div class="header-title">                                  <!-- -->
                        <div class="row no-gutters justify-content-center">
                            <div class="col-6 header-title-div">                <!--Header title Filter-->
                                <h1 id="title-header">{{ title_header }}</h1>   <!--Header Title Text-->
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>


        <!--gradient border for header bar-->
        <div class="col-12 dice-border" id="header-border">
            <span></span>
        </div>

        <!-- section for flash messages -->

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row no-gutters flash justify-contnet-center">
                        <div class="col-12">
                            <h1>{{ message }}</h1>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    {% block main_content %}        
    {% endblock %}

    {% block temple_test %}
    {% endblock %}

    </header>

    {% block section_content %}
    {% endblock %}

    <!--footer-->
    <footer class="row no-gutters">
        
        <!--site owner-->
        <div class="col-12 col-md-6 col-lg-4 icon-creator icons">
            <p>
                Built and maintained by Richard Eldridge
            </p>        
            <a href="https://github.com/Richardaeld?tab=repositories">
                <img src="{{ url_for('static', filename='img/icons/G-Pro.jpg') }}" alt="Image of Ricahrd Eldridge">
            </a>

        </div>

        <!--Site owner's github-->
        <div class="col-12 col-md-6 col-lg-4 icons">
            <p>
                View my other projects at github!
            </p>
            <a href="https://github.com/Richardaeld?tab=repositories">
                <img src="{{ url_for('static', filename='img/icons/octo-github.png') }}" alt="roll-20">
            </a>

        </div>

        <!--Social resource links-->
        <div class="col-md-12 col-lg-4 icons">
            <p>
                Send some love to these sites for the wonderful representation of the community 
            </p>
            <a href="https://roll20.net/welcome">
                <img src="{{ url_for('static', filename='img/icons/roll-20.png') }}" alt="roll-20">
            </a>
            <a href="https://www.dmsguild.com/">
                <img src="{{ url_for('static', filename='img/icons/DMsGuild-Logo.png') }}" alt="DM's Guild">
            </a>

        </div>


    </footer>
    <!-- custom js for page -->
    {% block custom_script %}
    {% endblock %}
</body>
</html>