{% extends "base.html" %}

{% block tab_header_content_row %}
<nav>
    <a class="clean-anchor col-1 back-button" href="{{ url_for('openRoom', username=session['user'], room=session['place'][1]) }}">
        <p>back</p>
    </a>
</nav>
   <section class="col-10 topic-tab form-tab">  
        <div class="row no-gutters justify-content-center">
            <div class="col-12">
                
                <div class="row no-gutters justify-content-center form-box form-filter">
                    
                    <div class="col-10">
                        <h1>This is what youre editing:</h1>
                        <h1>{{edit.idea}}</h1>
                    <ul class="form-user-input">
                        <li> 
                    
                            <form action="{{ url_for('edittask', username=session['user'], room=session['place'][1], topic=topic, editme=edit._id) }}" method="POST">
                                <div class="row no-gutters justify-content-center">
                                    
                                    <div class="col-10">
                                        <textarea class="form-textarea"  name="editIdea" id="editIdea">{{edit.idea}}</textarea>
                                        <input class="make-invis" name="editroom" id="editroom" value="{{edit.room}}">
                                        <input class="make-invis" name="editcategory" id="editcategory" value="{{edit.category}}">
                                        <input class="make-invis" name="editsubmit" id="editsubmit" value="{{edit.submit}}">
                                        <input class="make-invis" name="editdate" id="editdate" value="{{edit.date}}">
                                    </div>

                                    <div class="col-10">
                                        <input class="profile-choices-sub" type="submit">
                                    </div>
                                </div>
                            </form>

                        </li>
                    </ul>
                
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block custom_script %}
    <script>
        document.getElementsByClassName("nav-item")[3].classList.add("active");
        document.getElementsByClassName("nav-item")[3].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}