{% extends "base.html" %}
{% block section_content %}

    <!--Guilds-->
<section class="landing-tab">
    <div class="row no-gutters">
        <div class="col-12">
            <h1>
                Welcome new and returning friends and family! 
            </h1>
            <p>
                This guild hall is being built for all those that enjoy the act of role play. We all have to start somewhere so please start here with us. We hope to improve not only 
                everyone that joins us, but ourselves as well. Please join us on our journey to aspire to a greater level of immersion and skill through developing a caring and helpful 
                community of like minded individuals. We will share our tricks and thoughts and hope you will do the same through our interactive forms. We are constructing a number of 
                different guild rooms that are devoted to various champaigns, settings, and ideas. 
            </p>
        </div>
    </div>
</section>
{% endblock %}


{% block custom_script %}
    <script src="{{ url_for('static', filename='js/globalObjects.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/playground.js') }}"></script> 
{% endblock %}