{% extends "base.html" %}

{% block custom_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/animation.css') }}" type="text/css">
{% endblock %}

{% block temple_test %}
<div class="col-12 general-tab form-tab">
    <div class="row no-gutters justify-content-center">
        <div class="col-10 flash-test">
            <h1>Welcome {{ username }}</h1>
        </div>
        <div class="col-10">

        </div>
    </div>
</div>
<section class="profile-background" id="temple-body"> <!-- temple body houses absolute-->
    <div class="row no-gutters">
        <div class="col-12 profile-choices">
            <div class="row no-gutters">

                <div class="col-6">
                    <ul>
                    {% for task in tasks %}
                        <li> 
                            <form action="{{ url_for('searchSub', username=session['user']) }}" method="POST">
                                <input type="submit" name="query" id="query" value="{{task.category}}">
                            </form>
                        </li>
                    {% endfor %}
                    </ul>
                
                </div>

                <div class="col-6 profile-choices-sub">
                    <ul>
                    {% for entry in listz %}
                                <h1>{{entry.title}}</h1>
                        <li> 
                            <form action="{{ url_for('searchPage', username=session['user']) }}" method="POST">
                                <input class="make-invis" name="query2" id="query2" value="{{entry.image}}">
                                <input class="make-invis" name="query1" id="query1" value="{{entry.headerText}}">
                                <input class="profile-choices-sub" type="submit" name="query" id="query" value="{{entry.url}}">

                            </form>
                        </li>
                    {% endfor %}
                    </ul>
                
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block custom_script %}
    <script src="{{ url_for('static', filename='js/globalObjects.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}