{% extends "base.html" %}

{% block custom_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/animation.css') }}" type="text/css">
{% endblock %}

{% block title_bar %}
        <!--Header Bar-->
        <div class="col-12 header-img {{profile_class}} {{ header_img }}" id="header_main">       <!--Header Image-->
            <div class="row no-gutters">                                    
                <span class="header-span" id="header-span">                     <!--Header Image Filter--><!--  currently obsolete-->
                    <div class="header-title">                                  <!-- -->
                        <div class="row no-gutters justify-content-center">
                            <div class="col-10 header-title-div" id="header-text">                <!--Header title Filter-->
                                <!--<span id="header-text-box">Role Players Guild</span>  -->
                                <h1 data-text="Welcome {{username}}" id="title-header">Welcome {{ username }}</h1>   <!--Header Title Text-->
                                <p>Where will your adventure take you today?</p>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>


{% endblock %}

{% block header_dependent_section_content %}
<section class="profile-background" id="temple-body"> <!-- temple body houses absolute-->
    <div class="row no-gutters">
        <div class="col-12 profile-choices">
            <div class="row no-gutters">

                <div class="col-6 profile-categories">
                    <p>Select a guild hall interests you</p>
                    <hr>
                    <ul class="profile-test">
                    {% for task in tasks %}
                        <li> 
                    
                            <form action="{{ url_for('searchHalls', username=session['user']) }}" method="POST">
                                <input type="submit" name="searchRoomsQuery" id="searchRoomsQuery" value="{{task.category}}">
                            </form>


                        </li>
                    {% endfor %}
                    </ul>
                
                </div>

                <div class="col-6 profile-categories">
                    {% if searchroom == true %}
                    <p>Select a room that interests you</p>
                    <hr>
                    <ul class="profile-test">
                    {% for entry in listz %}
                                <!--<h1>entry.title</h1>--> <!-- left in for future ideas -->
                        <li>

                            <form action="{{ url_for('openRoom', username=session['user'], testh=False) }}" method="POST">
                                <input class="make-invis" name="roomNameQuery" id="roomNameQuery" value="{{entry.dataTitle}}">
                                <input class="make-invis" name="headerImgQuery" id="headerImgQuery" value="{{entry.image}}">
                                <input class="make-invis" name="headerTextQuery" id="headerTextQuery" value="{{entry.headerText}}">
                                <input class="make-invis" name="roomHTMLQuery" id="roomHTMLQuery" value="{{entry.url}}">
                                <input class="profile-choices-sub" type="submit" value="{{entry.title}}">
                            </form>

                            
                        
                        </li>
                    {% endfor %}
                    </ul>
                
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block custom_script %}
    <script src="{{ url_for('static', filename='js/globalObjects.js') }}"></script>   
    <script>
        document.getElementsByClassName("nav-item")[2].classList.add("active");
        document.getElementsByClassName("nav-item")[2].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}