{% extends "base.html" %}

{% block custom_link %}
{% endblock %}

{% block header_dependent_section_content %}
<section class="profile-background"><!--id="temple-body"--> <!-- temple body houses absolute-->
    <div class="row no-gutters">
        <div class="col-12 profile-choices">
            <div class="row no-gutters">

                <div class="col-6 profile-categories">
                    <p>Select a guild hall interests you</p>
                    <hr>
                    <ul class="profile-test">
                    {% for hall in guildHalls %}
                        <li> 
                    
                            <form action="{{ url_for('searchHalls', username=session['user'], hall=hall.category ) }}" method="POST">
                                <input type="submit" name="searchRoomsQuery" id="searchRoomsQuery" value="{{hall.category}}">
                            </form>


                        </li>
                    {% endfor %}
                    </ul>
                
                </div>

                <div class="col-6 profile-categories">
                    {% if enterHall == true %}
                    <p>Select a room that interests you</p>
                    <hr>
                    <ul class="profile-test">
                    {% for room in searchForRooms %}
                                <!--<h1>entry.title</h1>--> <!-- left in for future ideas -->
                        <li>

                            <form action="{{ url_for('openRoom', username=session['user'], room=room.dataTitle) }}" method="POST">
                                <input class="make-invis" name="roomNameQuery" id="roomNameQuery" value="{{room.dataTitle}}">
                                <input class="make-invis" name="headerImgQuery" id="headerImgQuery" value="{{room.image}}">
                                <input class="make-invis" name="headerTextQuery" id="headerTextQuery" value="{{room.headerText}}">
                                <input class="make-invis" name="roomHTMLQuery" id="roomHTMLQuery" value="{{room.url}}">
                                <input class="make-invis" name="navTitle" id="navTitle" value="{{room.navTitle}}">
                                <input class="profile-choices-sub" type="submit" value="{{room.title}}">
                            </form>

                            
                        
                        </li>
                    {% endfor %}
                    </ul>
                
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block custom_script %}
    <script>
        document.getElementsByClassName("nav-item")[2].classList.add("active");
        document.getElementsByClassName("nav-item")[2].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}