{% extends "base.html" %}

{% block custom_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/animation.css') }}" type="text/css">
{% endblock %}

{% block title_bar %}
        <!--Header Bar-->
        <div class="col-12 header-img {{profile_class}} {{ header_img }}" id="header_main">       <!--Header Image-->
            <div class="row no-gutters">                                    
                <span class="header-span" id="header-span">                     <!--Header Image Filter--><!--  currently obsolete-->
                    <div class="header-title">                                  <!-- -->
                        <div class="row no-gutters justify-content-center">
                            <div class="col-10 header-title-div" id="header-text">                <!--Header title Filter-->
                                <!--<span id="header-text-box">Role Players Guild</span>  -->
                                <h1 data-text="{{title_data}}" id="title-header">{{ title_header }}</h1>   <!--Header Title Text-->
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>


{% endblock %}

{% block temple_test %}
<div class="col-12 general-tab form-tab">
    <div class="row no-gutters justify-content-center">
        <div class="col-10">

            <fieldset class="form-box">
                <h1>Register</h1>
                <form class="form-filter" method="POST" action="{{ url_for('register') }}">
                    <div class="row no-gutters justify-content-between form-height">

                        <div class="col-6 input-line">
                            <label for="username">User Name:</label>
                        </div>
                        <div class="col-6 input-line">
                            <input type="text" id="username" name="username" 
                                minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>

                        <div class="col-6 input-line">
                            <label for="password">Password:</label>
                        </div>
                        <div class="col-6 input-line">
                            <input type="password" id="password" name="password" 
                                minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>

                    </div>

                    <div class="row no-gutters justify-content-end">
                        <div class="col-6">
                        <input class="submit-button"  type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
    <script>
        document.getElementsByClassName("nav-item")[3].classList.add("active");
        document.getElementsByClassName("nav-item")[3].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}