{% extends "base.html" %}

{% block custom_link %}
{% endblock %}

{% block header_dependent_section_content %}
<div class="col-12 topic-tab form-tab">
    <div class="row no-gutters justify-content-center">
        <div class="col-10">

            <fieldset class="form-box">
                <h1>Register</h1>
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="row no-gutters justify-content-between form-height">

                        <div class="col-6 input-line">
                            <label for="username">User Name:</label>
                        </div>
                        <div class="col-6 input-line">
                            <input type="text" id="username" name="username" 
                                minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>

                        <div class="col-6 input-line">
                            <label for="password">Password:</label>
                        </div>
                        <div class="col-6 input-line">
                            <input type="password" id="password" name="password" 
                                minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>

                    </div>

                    <div class="row no-gutters justify-content-end">
                        <div class="col-6">
                        <input class="submit-button"  type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_script %}
    <script>
        document.getElementsByClassName("nav-item")[3].classList.add("active");
        document.getElementsByClassName("nav-item")[3].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}