{% extends "base.html" %}
{% block custom_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/animation.css') }}" type="text/css">
{% endblock %}

{% block independent_section_content %} 
<section>

    {% for topic in roomInfo %}
    {% if topic.title() == topicName.title() %} <!--lsdaflkasjdlkfjas;ljkf;lasjdkljasldjfl;askjdflkahgoahgaldgklasdhjglkdfjklgj-->
    <div class="col-12  topic-tab topic-section  {{header_img}}"> <!--topic tab no css just JS pick point-->
        <div class="row no-gutters justify-content-around">
            <div class="col-12">
                <h1>{{topic.title()}}</h1>
            </div>
            <div class="col-4 col-md-2 back-button">
                <a class="clean-anchor" href="{{ url_for('openRoom', username=session['user'], roomName=session['place'][0]) }}">back</a>
            </div>
            <div class="col-4 col-md-2 edit-button" id="add">
                <a class="clean-anchor" href="{{ url_for('addtask',username=session['user'], room=session['place'][0], topic=topic )}}"><p>add</p></a>
            </div>

            <div class="col-10">
                <ul class="list-group list-group-horizontal room-form ">
                    {% for commit in topicCommits %}
                    <!-- makes sure only the commits that match room and topic are displayed-->
                    {% if commit.category == topic %}
                    <li class="list-group-item col-4 ">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-12 commit-box">
                                <p class=" commit-box-brief">{{ commit.idea.title() }}</p>
                                <p class=" ">Submitted by: {{ commit.submit.title() }}</p>
                                <p class=" commit-box-content make-invis">{{ commit.idea.title() }}</p>            
                            </div>
                            <div class="col-12 ">
                                <div class="row no-gutters justify-content-center">
                                    <!-- checks to be sure only the owner of the commit or admin can alter the commit-->
                                    {% if admin.admin==true or commit.submit == admin.username %}
                                    <div class="col-6 inline-form-edit">
                                        <span>
                                            <a class="clean-anchor" href="{{ url_for('edittask', username=session['user'], room=session['place'][0], topic=topic, editme=commit._id)}}">Edit</a>
                                        </span>
                                    </div>
                                    {% endif %}
                                    <div class="col-6 inline-form-remove">
                                        <a class="clean-anchor" href="{{ url_for('removetask', username=session['user'][0], room=session['place'], topic=topic, removeme=commit._id)}}">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>    
            </div>

            <div class="col-10 room-form-clean">

                    <ul>
                        <li class="list-group-item commit-box">
                            <div class="row no-gutters justify-content-center">
                                <div class="col-10">
                                    <span class="col-12">
                                        <p id="form-expand-to"></p>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>

            </div>

        </div>
    </div>

    {% endif %}
    {% endfor %}
</section>
{% endblock %}

{% block custom_script %}
<!--<script src="{{ url_for('static', filename='js/globalObjects.js')}}"></script>-->
    <script src="{{ url_for('static', filename='js/room.js') }}"></script>
    <script>
        document.getElementsByClassName("nav-item")[3].classList.add("active");
        document.getElementsByClassName("nav-item")[3].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}