{% extends "base.html" %}

{% block custom_link %}
{% endblock %}

{% block header_dependent_section_content %}

        <fieldset class="col-12 form-box topic-tab form-tab">
            <div class="row no-gutters justify-content-center">
                <div>
                    <h1>Sign In</h1>
                </div>
            </div>
            <form method="POST" action="{{ url_for('signIn') }}">
                <div class="row no-gutters justify-content-center form-height">

                    <div class="col-12 col-md-6">
                        <label for="username">User Name:</label>
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="text" id="username" name="username" 
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-12 col-md-6">
                        <input type="password" id="password" name="password" 
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                                    
                </div>
                    
                <div class="row no-gutters justify-content-end">
                    <div class="col-6">
                        <input class="submit-button form-height"  type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </fieldset>


{% endblock %}

{% block custom_script %}
    <script>
        document.getElementsByClassName("nav-item")[2].classList.add("active");
        document.getElementsByClassName("nav-item")[2].firstElementChild.classList.add("custom-nav-logo");
    </script>
{% endblock %}