{% extends "base.html" %}
{% block custom_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/animation.css') }}" type="text/css">
{% endblock %}

{% block modal %}

    <div class="row no-gutters justify-content-center">
        <div class="col-12 modal-cover" id="modal-cover"></div>
        <div class="col-10 parch" id="parch">
            <form action="" method="post">
                <input name="queryadd" id="queryadd" type="text">
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>

{% endblock %}

{% block title_bar %}
        <!--Header Bar-->
        <div class="col-12 header-img {{profile_class}} {{ header_img }}" id="header_main">       <!--Header Image-->
            <div class="row no-gutters">                                    
                <span class="header-span" id="header-span">                     <!--Header Image Filter--><!--  currently obsolete-->
                    <div class="header-title">                                  <!-- -->
                        <div class="row no-gutters justify-content-center">
                            <div class="col-10 header-title-div" id="header-text">                <!--Header title Filter-->
                                <!--<span id="header-text-box">Role Players Guild</span>  -->
                                <h1 data-text="{{title_data}}" id="title-header">{{ title_header }}</h1>   <!--Header Title Text-->
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>


{% endblock %}

{% block temple_test %}

<section class="card-background" id="temple-body">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="row no-gutters">
            <!--<span class="general-cover"></span>---------------         REMOVE ME          -->

                <div class="col-12" id="temple-main">
                    <div class="row no-gutters justify-content-around">

                        {% for category in totalCategories %}

                        <div class="col-2 temple-cats">
                            <div class="temple-span"></div>
                            <svg>
                                <rect rx="50" ry="50"/>
                            </svg>
                            <p>{{category.category}}</p>
                        </div>
                        
                        {% endfor %}

                    </div>
                </div>

{% endblock %}
{% block main_content %} 

                <span class="general-cover"></span>  <!--      covers entire general section with a moving filter -->


                {% for categoryTitle in totalCategories %}



                <div class="col-12 general-display-none general-tab general-tab-background-1">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-1 back-button">
                            <p>Back</p>
                        </div>
                        <div class="col-10">

                            <h1>{{categoryTitle.category.title()}}</h1>

                            <ul class="list-group">
                                {% for list in pageList %}
                                    <li class="list-group-item">
                                        <div class="row no-gutters justify-content-between">
                                            {% if list.category == categoryTitle.category %}
                                                <div class="col-10">
                                                    <span class="form-idea">
                                                        {{ list.idea }}--{{test.room}}
                                                    </span>
                                                </div>
                                            
                                                {% if admin.admin==true or list.submit == admin.username %}
                                                    
                                                    <div class="col-1">
                                                        <span class="form-edit">
                                                            <a href="{{ url_for('edittask', editme=list._id)}}">Edit</a>
                                                        </span>
                                                    </div>
                                                    <div class="col-1">

                                                        <span class="form-edit">
                                                            <a href="{{ url_for('removetask', removeme=list._id)}}">Remove</a>
                                                        </span>
                                                    </div>

                                                {% endif %}

                                            {% endif %}


                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>    
                        </div>


                        <div>
                            <ul class="col-1 edit-button">
                                <li id="add">

                                    <a href="{{ url_for('addtask', test0=test.room,test1=categoryTitle.category )}}"><p>addtask</p></a>
                                <h1>--{{categoryTitle.category}}--</h1><!--  yields correct tenets, etc...  -->
                                <h1>--{{addidea}}--</h1>
                                <h1>--{{test.room}}--</h1>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>


                {% endfor %}


            </div>
        </div>
    </div>

</section>
{% endblock %}
{% block custom_script %}
<script src="{{ url_for('static', filename='js/dbMod.js') }}"></script>
<!--<script src="{{ url_for('static', filename='js/globalObjects.js')}}"></script>-->
<script src="{{ url_for('static', filename='js/guildGeneral.js' )}}"></script>
{% endblock %}