{% extends "base.html" %}
{% block main_content %}

<section class="card-background" id="templeBody">
    <div class="row no-gutters">
        <div class="col-12">
        <div class="col-12 guild-cover-top"></div>
        <div class="col-12 guild-cover-bottom"></div>
            <div class="row no-gutters">
            <span class="general-cover"></span>

                <div class="col-12" id="temple-main">
                    <div class="row no-gutters justify-content-between" id="templeMain">

                        <div class="temple-cats">
                            <div class="temple-span"></div>
                            <svg rx="10" ry="10">
                                <rect rx="50" ry="50"/>
                            </svg>
                            <p>Tenets</p>
                        </div>

                        <div class="temple-cats">
                            <div class="temple-span"></div>
                            <svg >
                                <rect rx="50" ry="50" />
                            </svg>
                            <p>Alignment</p>
                        </div>

                        <div class="temple-cats">
                            <div class="temple-span"></div>
                            <svg>
                                <rect rx="50" ry="50"/>
                            </svg>
                            <p>Insults</p>
                        </div>

                        <div class="temple-cats">
                            <div class="temple-span"></div>
                            <svg>
                                <rect rx="50" ry="50"/>
                            </svg>
                            <p>Propaganda</p>
                        </div>

                        <div class="temple-cats">
                            <div class="temple-span"></div>
                            <svg>
                                <rect rx="50" ry="50"/>
                            </svg>
                            <p>Members</p>
                        </div>

                        <div class="temple-cats">
                            <div class="temple-span"></div>
                            <svg>
                                <rect rx="50" ry="50"/>
                            </svg>
                            <p>Accomplishments</p>
                        </div>

                    </div>
                </div>


                <div class="col-12 general-display-none" id="temple-tenets">
                    <div class="row no-gutters">
                        <div class="col-2 back-button">
                            <p>Back</p>
                        </div>
                    </div>
                    <div class="row no-gutters justify-content-center temple-tenets">
                        <div class="col-10">

                            <h1>Tenets</h1>

                            <ul class="list-group">
                                <li class="list-group-item">Say mean things in a nice way</li>
                            </ul>

                            <ul class="list-group">
                                <li class="list-group-item">Always heal the wounded and immediately try to convert them</li>
                            </ul>
                            
                            <ul class="list-group">
                                <li class="list-group-item">Be abrasively friendly</li>
                            </ul>                    
                            
                            <ul class="list-group">
                                <li class="list-group-item">Insist on talking about steve</li>
                            </ul>                    
                            
                            <ul class="list-group">
                                <li class="list-group-item">All disciples need a number in their name</li>
                            </ul>                    
                            
                            <ul class="list-group">
                                <li class="list-group-item">Tell uninteresting tales of healing and everyone lives</li>
                            </ul>                 
                            <ul class="list-group">
                                <li class="list-group-item">Always be the top tier healer</li>
                            </ul>    
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</section>

{% endblock %}
{% block custom_script %}
<script src="{{ url_for('static', filename='js/guildGeneral.js')}}"></script>
{% endblock %}